<div class="container" style="margin: 100px auto;">
  <div class="row">
    <div class="col-6 offset-3">
      <h3>Editar Paquete Turístico</h3>
      <form
        action="/admin/paquetes/editar"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="hidden" value="{{paquete.id}}" name="id" />
        <div class="mb-3 row">
          <label for="">Nombre Fantasía</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            value="{{paquete.nombre}}"
          />
        </div>
        <div class="mb-3 row">
          <label for="">Destino</label>
          <input
            type="text"
            class="form-control"
            name="destino"
            value="{{paquete.destino}}"
          />
        </div>
        <div class="mb-3 row">
          <label for="">Cantidad de noches</label>
          <input
            type="text"
            class="form-control"
            name="noches"
            value="{{paquete.noches}}"
          />
        </div>
        <div class="mb-3 row">
          <label for="">Hotel</label>
          <input
            type="text"
            class="form-control"
            name="hotel"
            value="{{paquete.hotel}}"
          />
        </div>
        <div class="mb-3 row">
          <p><label>Imagen:
              <input
                class="form-control"
                type="file"
                name="imagen"
                id="imagen"
              /></label></p>
          <p><label><input
                type="checkbox"
                name="img_delete"
                value="1"
              />Eliminar imagen actual?</label>
            <input
              type="hidden"
              name="img_original"
              value="{{paquete.img_id}}"
            /></p>
        </div>
        <div class="mb-3 row">
          <label for="">Paquete</label>
          <textarea
            name="paquete"
            class="form-control"
          >{{paquete.paquete}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Editar</button>
      </form>
      {{#if error}}
        <p>{{messagge}}</p>
      {{/if}}
    </div>
  </div>
</div>