<main>

  <nav class="user-menu">
    <div class="row">
      <p class="text-end">Hola
        {{usuario}}
        <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesión<i
            class="fas fa-sign-out-alt"
          ></i></a></p>
    </div>
  </nav>
  <section>
    <div class="section-title">
      <h2>Paquetes Turísticos y Destinos</h2>
      <a href="/admin/paquetes/agregar" class="btn btn-success">Nuevo</a>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="table-dark">
              <th scope="col">#</th>
              <th scope="col">Destino</th>
              <th scope="col">Imagen</th>
              <th scope="col" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each paquetes}}
              <tr>
                <th scope="row">{{id}}</th>
                <td>{{destino}}</td>
                <td>{{{imagen}}}</td>
                <td class="text-center">
                  <a
                    href="/admin/paquetes/editar/{{id}}"
                    class="btn btn-secondary"
                  >Editar</a>
                  <a
                    href="/admin/paquetes/eliminar/{{id}}"
                    class="btn btn-secondary"
                  >Eliminar</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>